$TTL 15M

@   IN  SOA ns1.{{ hostname }}.{{ domain_name }}. root.{{ hostname }}.{{ domain_name }}. (
        2024052201  ; Serial
        15M         ; Refresh
        5M          ; Retry
        120M        ; Expire
        600 )       ; Negative Cache TTL

@           IN  NS      ns1
@           IN  A       {{ ip_address }}
ns1         IN  A       {{ ip_address }}
{{ hostname }} IN  A    {{ ip_address }}
www               IN    CNAME   {{ hostname }}.{{ domain_name }}.
proxy             IN    A       {{ ip_address }}
wordpress         IN    CNAME   {{ hostname }}.{{ domain_name }}.
mail              IN    A       {{ ip_address }}
@                 IN    MX   10 mail
container-proxy   IN    A       {{ ip_address }}
traefik-dashboard IN    CNAME   {{ hostname }}.{{ domain_name }}.
devops-lab        IN    CNAME   {{ hostname }}.{{ domain_name }}.
